.svg-path-helper {
    overflow: visible;
    pointer-events: none;
}

.spe-path {
    stroke: #4e7fff;
    fill: rgba(0, 0, 0, 0.15);
    pointer-events: visibleStroke;
}

.spe-start-point,
.spe-point,
.spe-arc-point,
.spe-curve-point,
.spe-end-point {
    pointer-events: all;
}

.spe-start-point,
.spe-point,
.spe-end-point,
.spe-link {
    vector-effect: non-scaling-stroke;
}

.spe-start-point {
    stroke: #f1843a;
    fill: #ffffff;
}

.spe-start-point:hover {
    stroke: #db722d;
}

.spe-point {
    stroke: #3a53f1;
    fill: #ffffff;
}

.spe-point:hover {
    stroke: #475ffc;
}

.spe-point.active {
    stroke: #871e1e;
    fill: #e95b5b;
}

.spe-curve-point {
    display: none;
    fill: #e1f13a;
}

.spe-curve-point:hover {
    fill: #cfde30;
}

.spe-arc-point {
    display: none;
    fill: #16b94a;
    stroke: #ebc33a;
    stroke-width: 0.2px;
}

.spe-arc-point:hover {
    fill: #ebc33a;
}

.spe-arc-point.angle {
    display: none;
    fill: #261fbc;
}

.spe-arc-point.horizontal {
    display: none;
    fill: #bc1f1f;
}

.spe-start-point.horizontal,
.spe-point.horizontal,
.spe-arc-point.horizontal,
.spe-curve-point.horizontal,
.spe-end-point.horizontal {
    cursor: e-resize;
}

.spe-arc-point.vertical {
    display: none;
    fill: #8de315;
}

.spe-start-point.vertical,
.spe-point.vertical,
.spe-arc-point.vertical,
.spe-curve-point.vertical,
.spe-end-point.vertical {
    cursor: n-resize;
}

.spe-end-point {
    stroke: #ad35c5;
    fill: #ffffff;
}

.spe-end-point:hover {
    stroke: #9629ab;
}

.spe-link {
    display: none;
    stroke: #ebc33a;
    pointer-events: none;
}

.spe-arc-wrapper {
    display: none;
    pointer-events: none;
}

.spe-arc {
    stroke: #16b94a;
    stroke-dasharray: 2;
    fill: none;
}

.spe-arc.selected {
    stroke: #e95b5b;
    stroke-dasharray: 0;
}

.spe-arc-point.active,
.spe-curve-point.active,
.spe-arc-wrapper.active,
.spe-link.active {
    display: block;
}

.spe-path,
.spe-start-point,
.spe-point,
.spe-end-point,
.spe-curve-point,
.spe-arc-point {
    cursor: move;
}

.spe-start-point.active,
.spe-point.active,
.spe-end-point.active {
    stroke: #871e1e;
    fill: #e95b5b;
}

.spe-path.active {
    stroke: #871e1e;
}
